@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  background-color: #1c1c1e;
  color: #7e7e7e;
}

* {
  box-sizing: border-box;
}

a {
  color: #bcbcbc;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

pre {
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 1rem !important;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 62rem) {
  pre {
    margin-left: -4rem;
    margin-right: -4rem;
  }
}
