@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --primary-color: #1c1c1e;
  --secondary-color: #212125;
  --shadow: 0 2px 4px rgba(28, 28, 30, 0.1);
  --shadow-strong: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --regular-text: #8b8b8b;
  --light-text: #ddd;
  --accent-color: #ff7b0c;
  --mobile-padding: 0 4%;
  --desktop-padding: 0 15.6%;
  --nav-height: 4rem;
}

html body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary-color);
  color: var(--light-text);
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* mapbox css overrides */
.mapboxgl-popup-content {
  background-color: var(--secondary-color) !important;
  box-shadow: var(--shadow) !important;
  border: 1px solid var(--secondary-color) !important;
  padding: 0 !important;
  border-radius: 5px !important;
}

.mapboxgl-popup-tip {
  border-bottom-color: var(--primary-color) !important;
}

.mapboxgl-popup-close-button {
  color: var(--accent-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
